{% extends 'base.html.twig' %}

{% set title='Domain emails in Telegram' %}
{% set description='Custom domain email addresses integrated right into your Telegram group' %}

{% block body %}
    <header class="py-3">
        <div class="container d-flex flex-wrap justify-content-center">
            <h1 class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark-none fs-5">
                {{ title }}
            </h1>
        </div>
    </header>
    <div class="container">
        <div class="p-3 bg-body rounded shadow-sm">
            <div class="d-flex pt-3">
                <div class="mb-0 small lh-sm w-100">
                    {{ form(form) }}
                </div>
            </div>

            {% if form.vars.value.step|default('') == '' %}
            <div class="pt-3 row g-4 row-cols-1 row-cols-lg-4">
                <div class="col d-flex align-items-start">
                    <div>
                        <h2 class="fs-5">All domains</h2>
                        <p class="small">
                            You can interconnect your domains with Telegram groups.
                            If you don't already own a domain name, you can register one and use it to set up custom email addresses.
                        </p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div>
                        <h2 class="fs-5">Any addresses</h2>
                        <p class="small">
                            You can use multiple email addresses per domain.
                            You can share the Telegram group and collaborate with your team for different operations or roles.
                        </p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div>
                        <h2 class="fs-5">Direct replies</h2>
                        <p class="small">
                            You can reply to the email inside the Telegram group.
                            Your message will be converted to the standard email and sent to the recipient mentioned in the From field.
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div>
                        <h2 class="fs-5">Inbound attachments</h2>
                        <p class="small">
                            You will receive all attachments of the incoming email via the Telegram group.
                            Currently, Telegram supports any files up to 50 MB in size.
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
